/*
	pik5-presenter.css
	Slide modifications for the presenter view. Don't edit this file unless you think you know what you are doing.
*/


/* Notes */
.pik5-notes {
	font-family:Helvetica, Arial, sans-serif;
	font-size:1.1em;
	background:rgba(255, 255, 255, 0.7);
	color:#000;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	display:block;
	padding:1em;
}
.pik5-notes p, .pik5-notes ul, .pik5-notes ol {
	margin:1em 0;
}
.pik5-notes a {
	color:#000 !important;
}
.pik5-notes:hover {
	opacity:0.2;
}


/* Overlay */
.pik5-overlay-presenter {
	background:rgba(0, 0, 0, 0.7) !important;
}
