/*
	presenter.css
	Don't edit this file unless you _really_ hate the appearance of the presenter as it is
*/


/* Basics */
body {
	font-family: Helvetica, Arial, sans-serif;
	background:#000;
	color:#FFF;
	line-height:1.4
}
h1 {
	font-size:2em;
	padding:1em 0.5em;
	margin:0;
}
h2 {
	clear:both;
	font-size:1.5em;
	padding:0.75em;
	margin:0;
}
p, ul, ol, iframe {
	margin:0 1em
}


/* Layout */
#wrapper {
	width:960px;
	margin:0 auto;
}
#viewer {
	position:relative;
	margin-top:16px;
}
#presenter-current {
	float:left;
}
#presenter-next {
	text-align:right;
	position:absolute;
	top:68px;
	right:0;
}
#footer {
	font-size:1.25em;
	text-align:center;
	opacity:1 !important;
}
#footer select, #footer a {
	font-size:inherit;
	margin:0.5em;
}
#footer a {
	font-size:1.5em;
	color:#FFF;
	text-decoration:none;
}


/* Timer */
#timer {
	font-weight:normal;
	text-align:right;
	float:right;
}
.now {
	font-weight:bold;
	display:block;
	font-size:0.5em;
}


/* Presentation windows */
iframe {
	border:4px solid #000;
	background:#FFF;
	-moz-box-shadow:0 0 24px #689;
	-webkit-box-shadow:0 0 20px #689;
	box-shadow:0 0 20px #689;
}
